In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('C:\\Users\\HP\\Documents\\Python Projects\\C_129_PRO\\dwarf_stars.csv')

print(df.head())

   Unnamed: 0                      Star Name  Distance Mass  Radius
0           0  SDSS J000013.54+255418.6 [de]      46.1   48    0.99
1           1        2MASS J08283419-1309198       NaN  NaN     NaN
2           2        2MASS J00040288-6410358     192.0   19    1.63
3           3                      LHS 102BC       NaN  NaN     NaN
4           4        2MASS J00242463-0158201      37.7   79    1.09

In [11]:
print(df.columns)

Index(['Unnamed: 0', 'Star Name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [12]:
print(df.dtypes)

Unnamed: 0      int64
Star Name      object
Distance      float64
Mass           object
Radius        float64
dtype: object

In [13]:
df = df.dropna()

In [14]:
df.head()

   Unnamed: 0                      Star Name  Distance Mass  Radius
0           0  SDSS J000013.54+255418.6 [de]      46.1   48    0.99
2           2        2MASS J00040288-6410358     192.0   19    1.63
4           4        2MASS J00242463-0158201      37.7   79    1.09
6           6        2MASS J00274197+0503417     236.0   31    1.44
8           8         2MASSW J0030300-145033      87.2   54    0.98

In [15]:
df["Radius"] = 0.102763*df["Radius"]

In [16]:
df["Mass"] = df["Mass"].apply(lambda x:x.replace('$', '').replace(',','')).astype('float')

In [17]:
df.dtypes

Unnamed: 0      int64
Star Name      object
Distance      float64
Mass          float64
Radius        float64
dtype: object

In [18]:
df["Mass"] = 0.000954588*df["Mass"]

In [22]:
df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [23]:
df.to_csv("unit_converted_stars.csv")